.navbar {
    background-color: #d8d5d6;
}

main {
    background-size: cover;
    width: auto;
    height: 100vh;
}

h1.titre{
    color: #fefbed;
    font-size: 40px;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px black;
}

.logo{
    width: 50px;
    height: auto;
    margin: auto;

}

.section {
    background-color: #d8d5d6;
}

.projet{
    top: 500px !important;
    padding-top: 90px !important;
    padding-left: 480px;
}

.hero.is-primary {
    background-color: #428CB5;
    color: #d8d5d6;
}

.navbar.is-light {
    background-color: #514e4f;
    color: #4a4a4a;
}

/* CSS variables for color scheme based on the logo */
:root {
    --logo-blue: #428CB5; /* Replace with the exact blue color from your logo */
    --logo-black: #282D33;
    --logo-white: #C6C0B6;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--logo-black);
}

.navbar {
    background-color: var(--logo-black);
}

.navbar.is-light .navbar-end .navbar-link, .navbar.is-light .navbar-end>.navbar-item, .navbar.is-light .navbar-start .navbar-link, .navbar.is-light .navbar-start>.navbar-item {
    color: white;
    }

.hero.is-primary {
    background-color: var(--logo-blue);
    color: var(--logo-white);
}

.navbar-item{
    color: white;
}

a.navbar-item:hover {
    background-color: #d8d5d6;
    color: #514e4f;
    }

.sub {
    color:#4a4a4a;
}
.title {
    color: var(--logo-black);
}

.content {
    background-color: #d8d5d6;
    color: var(--logo-black);
}


h1.intro {
    color: #428CB5;
    font-size: 50px;
    padding-bottom: 50px;
    }

.block{
    margin: auto;
}

/* Adjust button colors */
.button {
    background-color: var(--logo-blue);
    color: var(--logo-white);
    &:hover {
        background-color: var(--logo-black);
        color: var(--logo-blue);
    }
}
