<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>乌镇网事 | 回首之江网事 再赴十年之约 - 中国日报网</title>
    <meta name="keywords" />
    <meta name="description" content="中国日报网" />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="乌镇网事 | 回首之江网事 再赴十年之约" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html" />
      
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="乌镇网事 | 回首之江网事 再赴十年之约" />
      <meta name="twitter:description" />
      
      
      
        <meta property="twitter:image" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
        <meta property="twitter:image:src" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
      
      
      
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/articstyle.css?ver=54" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/adDetail.css" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/common/css/share_cncontent.css?ver=14" />
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script src="https://share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/respond.min.js"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/ewm2.js"></script><!--返回顶部-->
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/touch.js"></script><!-- 引入手机端点击js -->
    <script type="text/javascript" src="//www.chinadaily.com.cn/js/2017/relnews_rec.js" xml:space="preserve"></script>
    <!-- <script type="text/javascript" src="//cn.chinadaily.com.cn/js/sso.js"></script> 	-->
    <script type="text/javascript" charset="utf-8" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/index_js.js"></script>
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="5b8f78eba310030f813ed4d0" />
      <meta name="contentid" content="WS654b14a0a310d5acd876dde0" />
      <meta name="publishdate" content="2023-11-08" />
      <meta name="editor" content="马芮" />
      <meta name="author" content="马芮" />
      <meta name="source" content="浙江在线" />

      <!--来源-->
      <meta name="webterren_speical" content="6" />
      <meta name="sourcetype" content="6" />
    
    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      function GetUrl(){
        var CurUrl = location.href ;
        var DesUrl = 'https://usercenter.chinadaily.com.cn?service='+ CurUrl;
        window.open(DesUrl);
      }
      //]]>
    </script>
    <!--   <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolahead.js"></script>
<script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolacontrol_art.js"></script>		-->
    <!--百度熊掌号-->
    <!--   <script src="//msite.baidu.com/sdk/c.js?appid=1567805706555546"></script>	-->
    <!--百度熊掌号-->

  </head>

  <body>
    
    <div style="display:none;">
      <img src="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <h1>乌镇网事 | 回首之江网事 再赴十年之约</h1>
      <h2></h2>
    </div>
    <script type="text/javascript" xml:space="preserve">

      function is_weixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
          return true;
        } else {
          return false;
        }
      }
      var url =location.href;
      if(is_weixin()){
        console.log("微信验证");
        $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
          wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.noncestr,
            signature: data.sign,
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
          }),
            wx.ready(function(){
            console.log("微信验证成功!");
            wx.onMenuShareTimeline({
              title: '\u4E4C\u9547\u7F51\u4E8B | \u56DE\u9996\u4E4B\u6C5F\u7F51\u4E8B \u518D\u8D74\u5341\u5E74\u4E4B\u7EA6',
              link: url,
              imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
            });
            var data = {
              title: '\u4E4C\u9547\u7F51\u4E8B | \u56DE\u9996\u4E4B\u6C5F\u7F51\u4E8B \u518D\u8D74\u5341\u5E74\u4E4B\u7EA6',
              desc:  '\u4E2D\u56FD\u65E5\u62A5\u7F51',
              link: url,
              imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
            };
            wx.onMenuShareAppMessage(data);
          }),
            wx.error(function(res){
            console.log("微信验证失败!");
          })
        });
      }



      $(document).ready(function(){
        $("ul li").each(function(){
          var attrObj = $(this).find('img').attr("data-caption");
          if(attrObj == undefined){
            attrObj ='';
          }
          $(this).append("<p>"+attrObj+"</p>");
        });   
        $(".footer-download .close").click(function(){
          $(".footer").hide();
        })
      });
    </script>
    <div id="all">
      <!--灰色背景-->
      <div class="tophui2">
        <div class="tophui-cont">
          <!--频道页导航-->
          
      <div class="pingdaolink">
        <!--左边导航-->
        <div class="pingdao-lef">
          <ul>
            <li><a href="https://www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
            <li><a href="https://cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
            <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>
            <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>
            <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">C财经</a></li>
            <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
            <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>
            <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>
            <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
            <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
            <li style="border:none;"><a href="https://cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
          </ul>
        </div>
        <!--右侧注册登录-->
        <!--  <script type="text/javascript" cms:pr-src="common/js/login.js"></script>	-->
        <div class="pingdao-ri">
          <div class="lo-rig-to" id="successCallBack">
            <div class="lo-ri-two">
              <a href="javascript:void(0)" onclick="aria.start()"><img style="width:18px; height:auto;" src="//img3.chinadaily.com.cn/static/common/img/wza.png" /></a>
            </div>
            <!--  <div class="lo-ri-two">
<a href="javascript:GetUrl();" id="login1001">登录</a>
</div>	-->
            <div class="lo-ri-two">
              <a href="//usercenter.chinadaily.com.cn/regist" target="_blank" id="login1002">注册</a>
            </div>
          </div>
        </div>

      </div>
    
          <!--ad-->

          <!--logo头部-->
          <div class="dingtou">
            <!--logoleft-->
            <div class="logo2">
              <a href="https://cn.chinadaily.com.cn/" target="_blank" shape="rect"><img src="//www.chinadaily.com.cn/image_c/2018/j-2.jpg" /></a>
            </div>
            <!--文章页面包导航-->
             <div class="da-bre">
       
          
            <a target="_blank" shape="rect" href="//cnews.chinadaily.com.cn">中国在线</a>
          
          
          <a target="_blank" shape="rect" href="https://cnews.chinadaily.com.cn/5b8f78eba310030f813ed4d0"> &gt; 综合滚动</a>
        
      </div>
            <!--logoright-->
            <div class="logo-right">
              
      <div class="logo-right"> 
        <div class="lo-rig-bott">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td><div class="lo-bott-one"><a href="https://www.chinadaily.com.cn/mobile_cn/index.html" target="_blank">移动新媒体</a></div></td>
              <td>
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td><div class="search radius6">
                      <form name="searchform" method="post" action="https://newssearch.chinadaily.com.cn/cn/search" target="_blank" onsubmit="return do_search(this)" id="searchform">
                        <input name="ecmsfrom" type="hidden" value="9" />
                        <input type="hidden" name="show" value="title,newstext" />
                        <div class="select_box">
                          <div class="select_showbox" style="background:none;">站内搜索</div>
                          <ul class="select_option">
                            <li class="option-item" data-value="1">站内搜索</li>
                          </ul>
                        </div>
                        <input class="inp_srh" type="text" id="searchtxt" value="" name="query" onfocus="clearword(this)" />
                        <img src="https://cn.chinadaily.com.cn/image/2015/j-q.jpg" id="searchimg" onclick="javascript:searchform.submit()" />
                      </form>
                      <script>
                        //<![CDATA[
                        function clearword(obj){
                          obj.value = ''; 
                        }
                        //]]>
                      </script>
                      </div></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>

    
            </div>
          </div>
        </div>
      </div>
      <!--手机头部-->

      <div class="top_phone">
        <div class="header_top" style="">
          <a href="//cn.chinadaily.com.cn" shape="rect">
            <img src="//cn.chinadaily.com.cn/image/2021/cnlogo.png" />
          </a>

          <div class="header_img">
            <img src="//cn.chinadaily.com.cn/image/2018/header_top.png" class="nav_phone_logo" />
          </div>
          <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" style="position: relative;top: 0rem;right: 0.3rem;margin:0;padding:0;width:26px; height:26px;float:right;" class="share-icon" alt="分享到" title="分享到" />
        </div>
        
      <div class="nav">
        <ul>
          <li class="nav_Latest"><a href="//www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
          <li><a href="https://cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
          <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>
          <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>
          <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">C财经</a></li>
          <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
          <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>
          <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>
          <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
          <li><a href="https://cartoon.chinadaily.com.cn/" target="_blank">漫画</a></li>
          <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
          <li><a href="https://cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
        </ul>
      </div>

    
      <div class="da-bre">
       
          
            <a target="_blank" shape="rect" href="//cnews.chinadaily.com.cn">中国在线</a>
          
          
          <a target="_blank" shape="rect" href="https://cnews.chinadaily.com.cn/5b8f78eba310030f813ed4d0"> &gt; 综合滚动</a>
        
      </div>
      </div>
      <div class="navholder">

      </div>
      <!--下全-->
      <div class="container">
        <!--左边-->
        <div class="container-left2">
          <!--文章页标题-->
          <h1 class="dabiaoti">乌镇网事 | 回首之江网事 再赴十年之约</h1>
          <div class="fenx">

            <div class="xinf-le">
              来源：
      
      
      
      
        
        
          <a href="javascript:void(0)">浙江在线</a>
        
      
    
    
              
              <!--<th:block th:text="'来源：' +  ${#strings.isEmpty(story.source) ? '网络' : story.source}"></th:block>--></div>
            <div class="xinf-le">2023-11-08 01:00　</div>
            <div class="xinf-ri4"><a title="更多分享平台" href="#" class="more" shape="rect">&nbsp;</a></div>
            <div class="xinf-ri2"><a title="分享到新浪微博" style="cursor:pointer;" target="_blank" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=乌镇网事 | 回首之江网事 再赴十年之约&amp;pic=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html">&nbsp;</a></div>
            <div class="xinf-ri3"><a title="分享到微信" id="weixinqrcode" class="weixinqrcode" href="#" shape="rect">&nbsp;</a></div>
            <div class="xinf-ri">分享</div>
          </div>
          <div class="moreshare">
            <span class="closesharepc">分享到<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
            <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=乌镇网事 | 回首之江网事 再赴十年之约&amp;pics=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
            <a title="分享到LinkedIn" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=乌镇网事 | 回首之江网事 再赴十年之约&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
            <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=乌镇网事 | 回首之江网事 再赴十年之约&amp;u=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
            <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=乌镇网事 | 回首之江网事 再赴十年之约&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
          </div>
          <div id="qrcode" class="qrcode">
            <span>分享到微信<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" class="qucodeclose" /></span>
            <div id="qrcodearea" class="qrcodearea">
            </div>
          </div>
          <div class="share">
            <div class="share-core">
              <a href="http://m.chinadaily.com.cn/cn/2014-06/17/content_17013298.htm" target="_blank" shape="rect"><img src="//cn.chinadaily.com.cn/image/2018/wechat.png" alt="分享到微信" /></a>
              <a title="weibo" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=乌镇网事 | 回首之江网事 再赴十年之约&amp;pic=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
              <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=乌镇网事 | 回首之江网事 再赴十年之约&amp;pics=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
              <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=乌镇网事 | 回首之江网事 再赴十年之约&amp;u=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
              <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=乌镇网事 | 回首之江网事 再赴十年之约&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
              <a title="linkedin" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=乌镇网事 | 回首之江网事 再赴十年之约&amp;url=https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
              <a title="mail" target="_blank" shape="rect" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=乌镇网事 | 回首之江网事 再赴十年之约%0D%0Ahttps://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
              <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
            </div>
            <div class="share-close">
              <span>CLOSE</span>
            </div>
          </div>
          <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
          <script xml:space="preserve">

            $(document).ready(function(){
              $(".more").click(function(){
                if($(".moreshare").css("display")=='block')
                  $(".moreshare").hide();
                else $(".moreshare").show();
              });
              $(".closesharepc").click(function(){
                if($(".moreshare").css("display")=='block')
                  $(".moreshare").hide();
                else $(".moreshare").show();
              });
              $(".weixinqrcode").click(function(){
                /*  $(".moreshare").hide();	*/
                if($(".qrcode").css("display")=='block')
                  $(".qrcode").hide();
                else $(".qrcode").show();
              });
              $(".qucodeclose").click(function(){
                if($(".qrcode").css("display")=='block')
                  $(".qrcode").hide();
              });
              var qrcode = new QRCode(document.getElementById("qrcodearea"), {
                width : 180,
                height : 180
              });
              var curUrl = location.href;
              qrcode.makeCode(curUrl);
              /*以下为手机端分享*/
              $(".share-icon").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
                else $(".share").show();
              });
              $(".share-close").click(function(){
                $(".share").hide();
              });
              $(".container").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
              });
              $(".main_art").click(function(){
                if($(".share").css("display")=='block')
                  $(".share").hide();
              });
            });
          </script>
          <!--文章-->

          <div id="Content" class="article">

            
            
            <p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>浙江在线11月7日讯</strong>（记者 叶海 包勇）十年前，这里，曾是木心笔下的车马慢，是茅盾的林家铺子，是满满的乡愁和烟火气。十年后，不仅小桥流水人家依旧，更充满了互联网前沿的未来气息。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">其实，互联网与我们的生产生活从未分割，从结绳记事、算筹算盘，再到现在的超级计算机、云计算……以计算为基础的互联网，如今已经进入我们每分每秒的日常。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">11月8日，2023年世界互联网大会乌镇峰会将于浙江乌镇启幕。站在十年的节点上，回望历届乌镇峰会的激荡，更能体会蓬勃的互联网给之江大地带来的新变化、新发展。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>激发新动能</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>数字经济企业从12家增至1000多家</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">5G自动巡检机器人、高速卷绕机、自动落筒机、自动包装系统、智能仓储……距离乌镇西南二十多公里之外，有一座不见工人却只闻机器响声的工厂，这是嘉兴桐乡化纤企业新凤鸣集团的5G工厂。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“随着5G等技术不断突破，‘机器换人’不仅可以节省成本，还可以提高成品率和生产效率。”新凤鸣集团未来工厂经理杨忠杰说，工厂年人均产值可达800吨，是行业平均水平的两倍。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">新凤鸣集团未来工厂是乌镇数字经济发展的缩影。随着世界互联网大会永久落户，短短十年间，乌镇数字经济及相关产业的企业数量从12家增至1000多家。今年前三季度，乌镇的数字经济制造业完成产值同比增长73.6%，又新引进了一批总额达46.2亿元的数字经济制造业项目。</p> 
<p align="center"><img src="//cds.chinadaily.com.cn/dams/capital/image/202311/08/654b147ee4b00c77210d8110_m.jpg" alt="" data-resourcesrc="/capital/image/202311/08/654b147ee4b00c77210d8110_m.jpg" data-from="dams" data-damsstoid="po654b147ee4b00c77210d8111" data-damslibid="capital" data-width="800" data-height="534" id="img-654b147ee4b00c77210d8110_m"></p> 
<p class="pictext" align="center"><span style="color: #0000ff; font-size: 14px;">新凤鸣集团未来工厂 杨忠杰供图</span></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">乌镇数字经济跨越式发展的十年，也是浙江省推动数字经济往“高”攀升、向“新”进军、以“融”提效的十年。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">早在2014年，浙江就率先提出发展以互联网为核心的信息经济；2017年，浙江省委经济工作会议明确提出“把数字经济作为‘一号工程’来抓”；2023年，浙江提出要以更大力度实施数字经济创新提质“一号发展工程”。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">数据显示，从2014年开始，浙江省数字经济核心产业增加值年均增速达13.6%，是同期GDP增速两倍以上，规模从2014年的2854.1亿元跃升到2022年的8976.6亿元，占GDP比重从7.1%提升到了11.6%。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">此外，浙江以“产业大脑+未来工厂”双向赋能，加速数字技术和实体经济深度融合，打造了99个行业产业大脑、52家未来工厂和601家智能工厂（数字化车间），产业数字化水平全国第一。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>孕育新生态</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>互动体验成就旅游新产品与消费新场景</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“让我看看，古镇里还有哪些地方可以拍出大片。”穿着明制汉服的张雪奇边对闺蜜陈姿敏说着，边打开“乌镇旅游服务”小程序，在里面查找景点。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“第一次知道世界互联网大会乌镇峰会是在大学的试卷上。”来自内蒙呼伦贝尔的张雪奇和来自福建莆田的陈姿敏是大学同学，在桂林念完大学后多年未见。这次，两人相约乌镇相见，顺便见一见试卷中的乌镇峰会。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“网上约定酒店、‘刷脸’进入景区，微笑就能打折的无人超市。”张雪奇与陈姿敏相视一笑说，手机点点逛遍江南古镇，根本不用担心人生地不熟。</p> 
<p align="center"><img src="//cds.chinadaily.com.cn/dams/capital/image/202311/08/654b147ee4b00c77210d8112_m.jpg" alt="" data-resourcesrc="/capital/image/202311/08/654b147ee4b00c77210d8112_m.jpg" data-from="dams" data-damsstoid="po654b147ee4b00c77210d8113" data-damslibid="capital" data-width="800" data-height="600" id="img-654b147ee4b00c77210d8112_m"></p> 
<p class="pictext" align="center"><span style="font-size: 14px; color: #0000ff;">张雪奇在给闺蜜陈姿敏拍照 记者 包勇 摄</span></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">不止乌镇，十年来，“数字+文旅”在浙江不断擦出新火花。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">在杭州，西湖景区推出了“西湖一键智慧游”，这款系统覆盖了景区全部近60平方公里区域，成为目前国内面积最大的“数字景区”。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“以前，一到旅游旺季的节假日，杭州的景点你敢进吗？光排队就能劝退你。”来乌镇旅游的杭州小伙钱帅说，现在出去旅游带着手机就够了，提前网上订票，刷脸就可以进景点，过检票口1秒就够了。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">在宁波，方特旅游区成功入选第一批全国智慧旅游沉浸式体验新空间培育试点名单，通过文旅融合、虚实结合等方式，让游客深度介入与互动体验形成旅游新产品、消费新场景。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">如果只想安安静静看书，通过手机就能一键借阅全省公共图书馆近300万册藏书，查询全省各家博物馆、美术馆和展览馆，轻松观看线下线上展览和上万件数字藏品资源。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>迭代新体验</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>曾经的数字场景应用地变为科技新品首发地</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">站在乌镇的昭明路边，打开“萝卜快跑”打车软件，设置好起点和终点。没多久，一辆白色的无人车就停到了路边。用户在后排屏幕上点击确认后，车辆就会自动起步，并根据预定路线行驶。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">有多少人还记得十年前，网约车Uber进军杭州市场，与滴滴和快的形成“三国杀”，上演了一出烧钱大战。十年后，满街早已是新能源网约车，而乌镇又先行了一步，尝试自动驾驶。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“得益于世界互联网大会乌镇峰会，起初，乌镇是数字场景应用地，让当地群众提前享受科技生活；后来，越来越多新产品、新技术、新应用选择‘乌镇首发’。”今年74岁的邵云是一位土生土长的乌镇人。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">10年前，担任乌镇旅游股份有限公司特别顾问的邵云，参与了首届世界互联网大会乌镇峰会。让邵云印象最为深刻的是，在第一届世界互联网大会乌镇峰会上提出的5G概念，如今已经成为现实。</p> 
<p align="center"><img src="//cds.chinadaily.com.cn/dams/capital/image/202311/08/654b147ee4b00c77210d8114_m.jpg" alt="" data-resourcesrc="/capital/image/202311/08/654b147ee4b00c77210d8114_m.jpg" data-from="dams" data-damsstoid="po654b147fe4b00c77210d8115" data-damslibid="capital" data-width="689" data-height="484" id="img-654b147ee4b00c77210d8114_m"></p> 
<p class="pictext" align="center"><span style="color: #0000ff; font-size: 14px;">邵云 图片源自受访对象</span></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">这十年，和乌镇人一样，生活在浙江各地的每个人应该都有类似的感觉——数字化正在改变我们的生活，办事越来越方便了。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“四张清单一张网”、“最多跑一次”、政府数字化转型和数字化改革……有了互联网给予的底气，浙江相继推出系列创新举措，不断提升数字政府效能，让数据“多跑腿”，群众“少跑腿”。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">同时，通过创新打造“民呼我为”等一系列便民服务应用，集成出生“一件事”、入学“一件事”等50个高频政务服务事项，浙江群众办事的材料平均减少67.2%、时间减少66.3%，“智办秒办”走进身边。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">智慧旅游、智慧医疗、智慧养老、智慧交通……浙江以数字化为形式，以技术进步为手段，为群众提供了全链条、全周期的多样、均等、便捷社会服务。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>构筑新理念</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify"><strong>水墨风景之中融入之江净网决心</strong></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">从第一届世界互联网大会乌镇峰会到第十届世界互联网大会乌镇峰会，安恒信息董事长范渊没有错过一届。这一次来到乌镇参会，他最关注的是，是网络治理问题。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“乌镇峰会，不仅是一道水墨风景，更是汇聚互联网智慧与思考的特殊平台。”范渊说，这十年，互联网、数字技术快速发展，在带来更大生产力、更大便利度的同时，也带来了更多样、更复杂的安全风险。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">数据显示，2014年6月，中国网民规模达6.32亿，手机上网比例首超传统PC；到了2023年6月，中国网民规模达10.79亿人，互联网普及率达76.4%。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“随着网络空间和物理世界的边界逐渐融合，网络攻击的破坏力、影响力也越来越大。”范渊说，与之相对应的是，从网络安全、数据安全，再到数字安全，成为一个必然的趋势。</p> 
<p align="center"><img src="//cds.chinadaily.com.cn/dams/capital/image/202311/08/654b147fe4b00c77210d8116_m.jpg" alt="" data-resourcesrc="/capital/image/202311/08/654b147fe4b00c77210d8116_m.jpg" data-from="dams" data-damsstoid="po654b147fe4b00c77210d8117" data-damslibid="capital" data-width="800" data-height="600" id="img-654b147fe4b00c77210d8116_m"></p> 
<p class="pictext" style="text-align: center;"><span style="color: #0000ff; font-size: 14px;">一群游客在乌镇内拍照 记者 包勇 摄</span></p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">十年来，用户上网的方式不断变化，但浙江网络空间依法治理的决心没有变。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">以2023年为例，浙江聚焦网络水军、自媒体乱象、网络谣言、虚假信息等群众反映强烈的突出问题，累计清理信息70万余条，关闭账号47万余个，监测App应用3.91万余款，推动App整改提升541个。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">同时，累计抓获犯罪嫌疑人2.6万余名，预警潜在受害人1074.58万人次，止损25.25亿元，拦截封堵涉诈网址1955.26万条，受理电信网络诈骗一审案件739件。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">“随着技术的不断进步和网络安全产业的快速发展，网络安全领域也发生了一些显著的变化，比如云计算、人工智能等等带来便捷的同时，也潜藏着风险。”盘石集团创始人、董事局主席田宁表示，网络不是法外之地，网络安全问题是全球性的，需要国际社会共同应对，共建网络空间命运共同体，推动网络空间的可持续发展，让计算助力世界更加美好。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">二十年来，浙江坚持一张蓝图绘到底，持续推动“数字浙江”建设发生历史性变革、取得标志性成果。特别是在这十年，乌镇峰会让互联网基因融进城市变革的血液，使数字经济成为浙江发展的“金名片”。</p> 
<p style="text-justify: distribute; text-align: justify; text-indent: 30px; margin: 0px 3px 15px;" align="justify">我们相信并期待，在互联网的大潮中，下一个十年会将这段“网事”以更精彩的方式续写，而车马慢的乡愁中，将不断翻开因“网”而兴的科技新篇。</p>
            
      
    
            
            <p style="margin-top:-25px;font-size:14px;">
              （叶海 包勇）
            </p>
            <div style="width:100%;text-align:right;padding-top:20px;">
              【责任编辑：马芮】
            </div>
          </div>
          <div class="selectpage">
            <!--移动分页-->
            
          </div>
          <!--分页-->
          <div id="storyType" style="display:none;">COMPO</div>
          <div id="ID" style="display:none;">WS654b14a0a310d5acd876dde0</div>
          <div id="url" style="display:none;">https://cnews.chinadaily.com.cn/a/202311/08/WS654b14a0a310d5acd876dde0.html</div>
          <!--   <div class="phone_ad">
<script>cambrian.render('tail')</script>
</div>	-->
          <!--广告-->


          

          


          <!--    <div class="fenx_phone">
<div class="fenx_phone_wb"><a title="分享到新浪微博" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" style="cursor:pointer;color:#2e3192;"><img src="//cn.chinadaily.com.cn/image/2018/weibo.png" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" alt="分享到新浪微博"  /></a></div>
<div class="fenx_phone_wx"><a href="http://m.chinadaily.com.cn/cn/2014-06/17/content_17013298.htm" target="_blank"><img src="//cn.chinadaily.com.cn/image/2018/wechat.png"  alt="分享到微信" /></a></div>
<script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#uuid=a92f8285-36fe-4168-8f86-8e177d015e67&amp;style=-1"></script>
</div>
-->

          <!--相关文章-->
          <div class="xiangguan">

            <!--横杆标题2-->
            
          </div>

          <div class="ad-twofang">
            <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolathumb1.js" xml:space="preserve"></script>
            <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolathumb2.js" xml:space="preserve"></script>
          </div>
          
          



          <!-- 新闻列表  相关内容推荐-->
          <!--   <th:block  th:if="${#arrays.isEmpty(story.editorRecommends)}">  
<div class="remen" style="overflow:auto; " >
<p style="float:left; ">推荐</p>
<button type="button" id="changeData" style="margin-left: 450px; font-size: 18px;background: inherit;border:0;font-size: 14px;font-family: '微软雅黑';outline: none;cursor: pointer;margin-top: 3px; float:right;">换一批</button>
<input type="hidden" id="saveStartIndex" value="0" />
<input type="hidden" id="saveMaxIndex" value="0" />
</div>
<div class="container" style="width:653px; ">
<div class="container-left">
<div class="left-liebiao" id="newsList">

</div>



</div>
</div>	</th:block>	-->


          <div>

            <!--  <script type="text/javascript" >
//<![CDATA[
function cndycy_login(){
$(".thickbox").attr('href','//sso.chinadaily.com.cn/?simple=1&height=380&width=500&modal=false&TB_iframe=true');
$(".thickbox").attr('title','中国日报网登录');
$(".thickbox").click();
}
//]]>
</script>
<div id="popDiv" name="popDiv" style="display:none;" >
<a href="#" class="thickbox" title="Please Sign In"></a>
</div>			-->

          </div> 		
        </div>

        <!--右边-->

        <div class="container-right2">

          <!--中文首页-专题推荐 	5bd54ba2a3101a87ca8ff5ec-->
          <div class="tuijian">
            <!--横杆标题2-->
            <div class="heng-biao4">
              <p>
                
                  <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54ba2a3101a87ca8ff5ec">专题</a>
                
              </p>
            </div>
            <div class="retu">
              
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/07/WS6549e259a310d5acd876db72.html"><img src="//img3.chinadaily.com.cn/images/202311/07/6549e259a310d5acb8538ecd.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/07/WS6549e259a310d5acd876db72.html">2023乌镇世界互联网大会</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202310/18/WS652f8c51a310d5acd876a97a.html"><img src="//img3.chinadaily.com.cn/images/202310/18/652f8c51a310d5acb852e923.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202310/18/WS652f8c51a310d5acd876a97a.html">中国妇女第十三次代表大会</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/28/WS6514d811a310936092f2419c.html"><img src="//img3.chinadaily.com.cn/images/202309/28/6514d811a3109360dc06b74e.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/28/WS6514d811a310936092f2419c.html">2023中秋节</a>
                    </div>
                  </div>
                
                
                  <div class="speRight">
                    <div class="speRight-p">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/25/WS64eef007a3109d7585e4b81b.html"><img src="//img3.chinadaily.com.cn/images/202308/30/64eef007a3109d7518e2c070.jpeg" /></a>
                    </div>
                    <div class="speRight-t">
                      <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202309/25/WS64eef007a3109d7585e4b81b.html">世界看亚运</a>
                    </div>
                  </div>
                
              
            </div>
          </div>
          <div style="clear:both;float:none;">
          </div>
          <div class="tuijian">
            <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolaright.js" xml:space="preserve"></script>
          </div>

          <!--广告-->

          <!--<div class="left-huikuang2" id="zhibo" style="display:none;">

<script language="javascript" type="text/javascript">
$(function(){
var url="http://mbsug.ssl.so.com/idxdata/get?type=hot&hotnum=10&hotinclude=key_word";
$.ajax({
url:url,
dataType:'jsonp',
processData: false, 
type:'get',
success:function(data){
var le = data.data.hot.length;
var str360 = "<h3>热搜词</h3><div class='kua-left2'>";
for(var n=0;n<5;n++){
var str = data.data.hot[n].key_word;
var enstr = encodeURI(str);
var url;
url = "https://www.so.com/s?ie=utf-8&src=free_chinadaily_com&q=" + enstr ;
var laststr = "<p><a href=" + url + " target=_blank>" + str + "</a></p>" ;
str360 = str360 + laststr;
}
str360 = str360 + "</div><div class='kua-right2'>";
for(var m=5;m<le;m++){
var str = data.data.hot[m].key_word;
var enstr = encodeURI(str);
var url;
url = "https://www.so.com/s?ie=utf-8&src=free_chinadaily_com&q=" + enstr ;
var laststr = "<p><a href=" + url + " target=_blank>" + str + "</a></p>" ;
str360 = str360 + laststr;
}
str360 = str360 + "</div>";
if($("#zhibo")!== null){
$("#zhibo").html(str360);
}
},
error:function(XMLHttpRequest, textStatus, errorThrown) {
alert(XMLHttpRequest.status);
alert(XMLHttpRequest.readyState);
alert(textStatus);
}

});
})


</script>

</div>		-->
          <!--四个标签切换2-->
          <div class="rc">
            <!--中文首页-当日要闻-要闻 	5bd54bdea3101a87ca8ff5f0-->
            <div class="heng-biao4">
              <p>
                
                  <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54ba2a3101a87ca8ff5ee/5bd54bdea3101a87ca8ff5f0">最热新闻</a>
                
              </p>
            </div>

            <div class="right-lei3">
              
                <ul>
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654b13d3a310d5acd876dddc.html">在进博会上过记者节</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654b13d0a310d5acd876ddda.html">专访马来西亚前部长：美国拉“小圈子”孤立中国，推高供应链不确定性</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//caijing.chinadaily.com.cn/a/202311/08/WS654af7e7a310d5acd876dd34.html">【2023进博会】美农贸处主任：我们知道中国市场有多重要</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654af6b5a310d5acd876dd2f.html">全国老旧小区既有住宅已累计加装电梯近10万部</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654ae62da310d5acd876dcd9.html">天水清相入 秋冬气始交</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654ae5dda310d5acd876dcd7.html">美国投资百亿美元用于铁路基建</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654ae4f7a310d5acd876dcd4.html">台胞校长：希望孩子做自豪的中国人</a></li>
                  
                   <li><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654adc15a310d5acd876dca0.html">乌镇十年·互联智谈|互联网让人文关怀更近，更暖</a></li>
                    </ul>
              
            </div>
          </div>


          <!--中文首页-中国日报漫画 	5bd54ba2a3101a87ca8ff5e8-->
          <div class="right-titu">
            <!--横杆标题-->
            <div class="heng-biao4">
              <p>
                
                  <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54ba2a3101a87ca8ff5e8">精彩推荐</a>
                
              </p>
            </div>
            
              
                <div class="tuwen-bo">

                  <div class="titu-tu"><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654adcaaa310d5acd876dca2.html"><img src="//img3.chinadaily.com.cn/images/202311/08/654adcaaa310d5acb8539337.jpeg" /></a></div>
                  <div class="titu-biao"><a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/a/202311/08/WS654adcaaa310d5acd876dca2.html">中国日报漫画：擦丝器</a></div>
                </div>
              

            


            <!--广告-->
            <!--   <div class="left-ad300"> -->
            <!-- AdSame ShowCode: 新版中文1227 / 中文内容页 15.9.10 / C1 Begin -->
            <!--  <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2347" ></script>		-->
            <!-- AdSame ShowCode: 新版中文1227 / 中文内容页 15.9.10 / C1 End -->
            <!--  </div> -->
            
              
            
            
            
              
                
              
            
            
            
              
                
                
              
            
            
            
              
                
              
            



            
              
            

          </div>


        </div>
        <!--ad-->

      </div>
      <!--底部-->
      
      <div class="dibu">
        <div class="foot">
          <div class="foot-left">
            <div class="en-lo"><a href="https://cn.chinadaily.com.cn" target="_blank"><img src="https://cn.chinadaily.com.cn/image/2016/p-19.jpg" /></a></div>

            <div class="foot-lian"><span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6bf/" target="_blank">关于我们</a></span> 

              <span>|</span> 

              <span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c2/" target="_blank">联系我们</a></span></div>
          </div>
          <div class="foot-right">
            <div class="foot-one">
              <ul>
                <li><a href="https://cn.chinadaily.com.cn/" target="_blank">首页</a></li>

                <li><a href="https://china.chinadaily.com.cn/" target="_blank">时政</a></li>

                <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>

                <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">财经</a></li>

                <li><a href="https://fashion.chinadaily.com.cn/" target="_blank">生活</a></li>


                <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>

                <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>

                <li><a href="https://language.chinadaily.com.cn/" target="_blank">双语</a></li>
                <li>
                  <a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">独家</a>
                </li>
                <li><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c5" target="_blank">招聘</a></li>
              </ul>
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>地方频道：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649baa3101a87ca945947.html">北京</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649a5a3101a87ca945946.html">天津</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201912/31/WS5bf6490da3101a87ca945945.html">河北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201911/27/WS5bf6490ca3101a87ca945944.html">山西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201910/09/WS5bf6490ba3101a87ca945943.html">辽宁</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201909/03/WS5bf6490aa3101a87ca945942.html">吉林</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201908/08/WS5bf64909a3101a87ca945941.html">黑龙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201907/24/WS5bf64908a3101a87ca945940.html">上海</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201906/18/WS5bf64908a3101a87ca94593f.html">江苏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/31/WS5bf64906a3101a87ca94593e.html">浙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/30/WS5bf64904a3101a87ca94593d.html">福建</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/28/WS5bf61df5a3101a87ca94593b.html">山东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/27/WS5bf61d80a3101a87ca94593a.html">河南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/26/WS5bf61d7fa3101a87ca945939.html">湖北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/25/WS5bf61d7ea3101a87ca945938.html">湖南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/24/WS5bf61d7da3101a87ca945937.html">广东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/23/WS5bf61d7ca3101a87ca945936.html">广西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/22/WS5bf61d7ba3101a87ca945935.html">海南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/21/WS5bf61d7aa3101a87ca945934.html">重庆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/20/WS5bf61c86a3101a87ca945933.html">四川</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c85a3101a87ca945932.html">云南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/18/WS5bf61c2fa3101a87ca945931.html">贵州</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/17/WS5bf61b9aa3101a87ca945930.html">西藏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/16/WS5bf61b6ca3101a87ca94592f.html">陕西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/15/WS5bf61b2ba3101a87ca94592e.html">新疆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/14/WS5bf619efa3101a87ca94592c.html">深圳</a></li>

                  
                </ul>
              
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>友情链接：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c9a3101a87ca947c14.html">央广网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cba3101a87ca947c15.html">中国西藏网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c7a3101a87ca947c13.html">中国新闻网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cda3101a87ca947c16.html">中国台湾网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2709a3101a87ca947c0e.html">中国经济网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cfa3101a87ca947c17.html">中国青年网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27fea3101a87ca947c18.html">光明网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2712a3101a87ca947c0f.html">国际在线</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2713a3101a87ca947c10.html">央视网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2716a3101a87ca947c11.html">中国网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2718a3101a87ca947c12.html">新华网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a0aefa3101a87ca947bd1.html">人民网</a></li>

                  
                </ul>
              

            </div>
            <div class="foot-three">
              <div class="foot-three-left"><a href=""><img src="https://cn.chinadaily.com.cn/image/2016/p-20.jpg" /></a></div>
              <div class="foot-three-right">
                <ul>
                  <!--  <li><a href="//www.12377.cn/" target="_blank">网上有害信息举报专区</a></li>
<li><a href="//about.58.com/fqz/fpzn1.html" target="_blank">防范网络诈骗</a></li> -->
                  <li><a href="https://cn.chinadaily.com.cn/a/202206/16/WS62aaab37a3101c3ee7adad52.html" target="_blank">违法和不良信息举报</a></li> 
                  <li><a href="https://cn.chinadaily.com.cn/image/2023/xwxxfwxkz2023.jpg" target="_blank">互联网新闻信息服务许可证10120170006</a></li>
                  <li>信息网络传播视听节目许可证0108263号</li>	
                  <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032503" target="_blank">京公网安备11010502032503号</a></li>
                  <li>京网文[2011]0283-097号</li>
                  <li><a href="https://beian.miit.gov.cn" target="_blank">京ICP备13028878号-6</a></li>
                  <!-- <li>12300电信用户申诉受理中心</li>
<li><a>12318全国文化市场举报</a></li>
<li><a href="//www.bj.cyberpolice.cn/index.do" target="_blank">网站网络110报警网站</a></li>	
<li><img cms:pr-src="common/img/wza-logo.png" style="width:150px;height:auto;"/></li> -->
                </ul>
              </div>

            </div>
            <div class="foot-four">
              <div class="foot-four-one">中国日报网版权说明：凡注明来源为“中国日报网：XXX（署名）”，除与中国日报网签署内容授权协议的网站外，其他任何网站或单位未经允许禁止转载、使用，违者必究。如需使用，请与010-84883777联系；凡本网注明“来源：XXX（非中国日报网）”的作品，均转载自其它媒体，目的在于传播更多信息，其他媒体如需转载，请与稿件来源方联系，如产生任何问题与本网无关。</div>
            </div>
            <div class="foot-four">
              <div class="foot-four-one">版权保护：本网登载的内容（包括文字、图片、多媒体资讯等）版权属中国日报网（中报国际文化传媒（北京）有限公司）独家所有使用。 未经中国日报网事先协议授权，禁止转载使用。给中国日报网提意见：rx@chinadaily.com.cn</div>
            </div>

          </div>
        </div>
      </div>
    

      
      <div class="dibu-phone">
        <ul class="dibu-phone-one">
          <li><a href="https://cn.chinadaily.com.cn" target="_top">首页</a></li>
          <li><a href="https://china.chinadaily.com.cn" target="_top">时政</a></li>
          <li><a href="https://world.chinadaily.com.cn" target="_top">资讯</a></li>
          <li><a href="https://caijing.chinadaily.com.cn" target="_top">财经</a></li>
          <li><a href="https://fashion.chinadaily.com.cn/" target="_top">文化</a></li>
          <li><a href="https://pic.chinadaily.com.cn" target="_top">图片</a></li>
          <li><a href="https://kan.chinadaily.com.cn" target="_top">视频</a></li>
          <li><a href="https://language.chinadaily.com.cn" target="_top">双语</a></li>
        </ul>
        <div class="dibu-phone-two">
          <a href="https://cn.chinadaily.com.cn" target="_top">中文</a> | <a href="https://www.chinadaily.com.cn" target="_top">English</a>
        </div>
        <div class="copyright">
          中国日报版权所有<br />Content@chinadaily.com.cn
        </div>
      </div>
    
    </div>

    <div id="zd" class="abs" style="display:none;"><a id="totop" title="" shape="rect"></a></div>

    <!--百度推送-->
    <!--   <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/baidu_push.js"></script>	-->
    <!--百度推送-->
    <!--   <th:block th:include="@{|/|}+'common/2017en' :: usercollect"/>	-->
    
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
    
    
      <div style="display:none;">
        <!-- CNZZ统计  开始 -->
        <script src="https://s86.cnzz.com/stat.php?id=1975683&amp;web_id=1975683&amp;show=pic1" language="JavaScript"></script>
        <!-- CNZZ统计  结束 --> 
      </div>
      <script defer="defer" async="async" type="text/javascript" src="https://img2.chinadaily.com.cn/wza/aria.js?appid=0b4dcc17c875352af6dc428bb129ec78" charset="utf-8"></script>
    
    <div id="showBigPic" onclick="zc()">
      <img />
    </div>
    <style xml:space="preserve">
      #showBigPic{
        width: 100%;
        height:100%;
        position:absolute;
        z-index: 99;
        top:0;
        left:0;
        background-color: black;
        background-size:100%;
        display:none;

      }
      #showBigPic img {
        top: 50%;
        position: relative;
        margin-top: -40%;
        width: 100%;
        z-index: 9999;
      }
    </style>
    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      var H;
      var viewPort = document.querySelector('meta[name=viewport]');
      $('#Content img').click(function(){
        if((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iOS|iPad|Backerry|WebOS|Symbian|Windows Phone|Phone)/i))){
          let c = this.src
          H =  $(document).scrollTop();
          $('#showBigPic').show()
          $('#showBigPic img').attr('src',c)
          $('#all').hide()
          viewPort.setAttribute('content','width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=10.0, user-scalable=yes');
        }
      })
      function zc(){
        $('#showBigPic').hide()
        viewPort.setAttribute('content','width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no');
        $('#all').show()
        $("html, body").scrollTop(H);
      }
      $('#showBigPic img').click(function(e){
        e.stopPropagation()
      })
      //]]>
    </script>
  </body>

  <script type="text/javascript" xml:space="preserve">
    //<![CDATA[
    $(function(){
      var explorer = navigator.userAgent;
      if(explorer.indexOf("CDAndroid") >= 0 || explorer.indexOf("CDiOS") >= 0){
        $("#footer").css('display','none');
      }
    });
    var url = document.getElementById("url").innerText;

    var jsonUrl = url.replace('html','json');
    var storyType = document.getElementById("storyType").innerText;
    var articleId = document.getElementById("ID").innerText;
    var ios_scheme = 'chinadailyNewsiPhone://articleId=' +articleId+'&jsonUrl='+jsonUrl;
    var encodeIos = encodeURIComponent(ios_scheme);
    var android_scheme = 'hf://com.theotino.chinadaily/openwith?json={"jsonUrl":"'+jsonUrl+'","storyType":"'+storyType+'"}'
    var encodeAndroid = encodeURIComponent(android_scheme);

    function share_weixin(){
      var ua = navigator.userAgent.toLowerCase();
      if(/iphone|ipad|ipod/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&ios_scheme="+encodeIos);
      }
      else if(/android/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&android_scheme="+encodeAndroid);

      }
      else{
        window.open("//www.chinadaily.com.cn/mobile/daily.html");
      }
    }
    //]]>
  </script>
</html>
